<section id="main-menu">
<div class="header">
    <div class="container">
        <div class="header-navigation pull-center font-transform-inherit">
            <ul>
                <li >
                    <a  data-toggle="dropdown" data-target="#" href="#">
                        Programa

                    </a>
                </li>
                <li >
                    <a  data-toggle="dropdown" data-target="#" href="#">
                        Temáticas

                    </a>
                </li>
                <li >
                    <a  data-toggle="dropdown" data-target="#" href="#">
                        Comité Organizador

                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Participación

                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="feature-typography.html">Ponencias</a></li>
                        <li><a href="feature-buttons.html">Exposición asociada</a></li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Inscripción
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Pago de la cuota</a></li>
                        <li><a href="blog-item.html">Agencias de viajes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Viajes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">Instalaciones</a></li>
                        <li><a href="blog-item.html">Alojamiento</a></li>
                        <li><a href="blog-item.html">Monedas y pagos</a></li>
                        <li><a href="blog-item.html">Sobre Cuba</a></li>
                        <li><a href="blog-item.html">Estudiar en Cuba</a></li>
                    </ul>
                </li>
                <li><a href="shop-index.html" target="_blank">Noticias</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Memorias
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">III ICOM 2000</a></li>
                        <li><a href="blog-item.html">IV ICOM 2002</a></li>
                        <li><a href="blog-item.html">V ICOM 2004</a></li>
                        <li><a href="blog-item.html">VI ICOM 2006</a></li>
                        <li><a href="blog-item.html">VIII ICOM 2013</a></li>
                    </ul>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
</section>
